{% extends 'main/base.html' %}

{% load static %}
{% block title %}
Main Page
{% endblock %}

{% block body %}

<div class="inf">
    <div>
        <h1>Kazakhstan</h1>
    </div>
    <div>
        <h1>{{ out }}</h1>
        <p>Country of a lot of possiblities and chances.
            <br>
            Country with a lot of beautiful places
        </p>

    </div>
</div>

<style>
    .inf {
        display: flex;
        background-color: white;
        position: center;
        margin: 25%;
        margin-top: 20%;
        padding: 3%;
        background: rgba(255, 255, 255, .6);
        position: fixed;
    }
    .inf div {
        margin: 30px;
    }
    .inf h1 {
        font-size: 60px;
    }

   body {
       background-image: url("{% static 'mainPic.jpg' %}");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
   } 
</style>
{% endblock %}