{% extends 'main/base.html' %}

{% load static %}
{% block title %}
Kazakh Traditions
{% endblock %}


{% block body %}
<div class="title">
    <div>
        <h1>Kazakh Traditions</h1>
    </div>
    <div>
        <a class="buttonLink" href="{% url 'insert' %}"><button>Insert</button></a>
    </div>
</div>

<div class="alb">
    <div class="r">
        <div>
            <img src="{% static 'tr1.jpg' %}">
        </div>
        <div>
            <img src="{% static 'tr2.jpg' %}">
        </div>
        <div>
            <img src="{% static 'tr3.jpg' %}">
        </div>
        <div>
            <img src="{% static 'tr4.jpg' %}">
        </div>
    </div>

    <div class="tr">
        {% for k in trad %}
        <div>
            <h2>{{ k.tradition }}</h2>
            <p>{{ k.descr }}</p>
            <div class="buttons">
                <a class="updLink" href="{% url 'update' k.id %}"><button class="updBtn">UPDATE</button></a>
                <a class="dltLink" href="{% url 'delete' k.id %}"><button class="dltBtn">DELETE</button></a>
                <a class="detBtn" href="{% url 'details' k.slug %}">DETAILS</a>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

    <div class="r">
        <div>
            <img src="{% static 'tr5.jpg' %}">
        </div>
        <div>
            <img src="{% static 'tr6.jpg' %}">
        </div>
        <div>
            <img src="{% static 'tr7.jpg' %}">
        </div>
        <div>
            <img src="{% static 'tr8.jpg' %}">
        </div>
    </div>
</div>
<style>
    body {
        background-color: rgb(221, 223, 223);
    }
    a {
        text-decoration: none;
        color: black;
        padding-left: 13px;
    }
    .title {
        margin-top: 70px;
        margin-left: 35%;
        display: flex;
        
    }
    .title button {
        width: 100px;
        margin-top: 10px;
        margin-left: 20px;
        border-radius: 5px;
        font-size: 20px;
    }
    .buttonLink:hover button {
        background-color: black;
        color: aliceblue;
    }
    .alb {
        margin-top: 30px;
    }
    .r {
        width: 250px;
        margin: 5px;
        display: flex;
    }
    .r img {
        width: 350px;
        height: 230px;
        margin: 6px;
    }
    .tr {
        margin: 40px;
    }
    .updBtn {
        background-color: rgb(17, 219, 17);
        width: 100px;
        border-radius: 5px;
    }
    .detBtn {
        background-color: rgb(229, 233, 25);
        width: 100px;
        border-radius: 5px;
        margin-left: 20px;
    }
    .dltBtn {
        background-color: red;
        width: 100px;
        border-radius: 5px;
        margin-left: 20px;
    }
    .buttons {
        display: flex;
    }
</style>
{% endblock %}